*.*                                                                                                                                                                                                                   
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cc
!*.cpp
!*.hpp
!*.py
!.gitignore
!README.md
!Kconfig
include/config
include/generated

